@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

*{
    padding: 0;
    margin: 0;
    height: 100%;
}

h1{
    max-width: fit-content;
    max-height: fit-content;
    font-family: 'MedievalSharp';
    color: darkgreen;
    font-weight: bolder;
    font-size: 50px;
}

header{
    background-image: url(resouces/download.jpeg);
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

h6{
    max-height:fit-content;
    max-width: fit-content;
    color: darkgreen;
    font-family: 'MedievalSharp';
    font-size: 20px;
}

footer{
    background-image: url(resouces/download.jpeg);
    max-height: 100px;
    padding: 10px;
    display: flex;
    align-items: end;
}

button{
    padding: 5px;
    width: fit-content;
    max-height: 50px;
    background-color: darkgreen;
    font-family: 'MedievalSharp';
    border-radius: 5px;
    font-size: 30px;
    color:white;
}

.content{
    background-image: url(resouces/download\(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
    padding: 10px;
}

.card{
    max-width: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: gold;
    border: solid red 5px;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    gap: 10px;
}

.card > p{
    max-width: fit-content;
    max-height: fit-content;
    font-family: 'MedievalSharp';
    color: darkgreen;
    font-size: 30px;
}
.popUp{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    max-height: fit-content;
}

.form-container {
    max-height:500px;
    min-width: 500px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-image: url(resouces/download.jpeg);
    font-family: 'MedievalSharp';
    color: darkgreen;
    border:  solid black 5px;
    font-size: 30px;

}

label{
    max-width: fit-content;
    max-height: fit-content;
}

#check{
    height: 25px;
    width: 25px;
}

.box{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: fit-content ;
}

input{
    background: #C4A484;
    font-family: 'MedievalSharp';
    border-radius: 5px;
    padding: 2px;
    font-size: 20px;
    color: green;
    border: none;
}